.Card{
    font-family: Fjalla One;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
}

.Perfil{
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 7px;
    
}

.Perfil-Imagen{
    cursor: pointer;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    width: 246px;
    height: 250px;
}

.MeGusta{
    position: absolute;
    top: 2px;
    right: 40px;
    cursor: pointer;
    width: 28px;
    height: 30px;
}

.MeGusta-Rojo{
    position: absolute;
    top: 2px;
    right: 40px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/* .MeGusta:hover{
    background-image: url("../Imagenes/LikeRojo.png");
    background-size: 31px 31px;
} */

.Nombre{
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #88e23b;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    text-decoration: none;
}

.Id{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #88e23b;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}

.Eliminar{
    font-weight: bold;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.Texto{
    padding-top: 7px;
    height: 75px;
    color: white;
}

.Texto-Dos{
    line-height: 23px;
    margin: 0px;
    margin-left: 15px;
}

.Nombre-Amarillo{
    background-color: #f5e20d;
    color: rgb(39, 39, 39);
    line-height: 23px;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 1px;
    width: 53px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}

.Nombre-Rojo{
    background-color: rgb(197, 15, 15);
    color: white;
    line-height: 23px;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 1px;
    width: 30px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    
}

.Nombre-Verde{
    background-color: green;
    color: white;
    line-height: 23px;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 1px;
    width: 30px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}

